html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  width: 1280px;
  margin: 0 auto;
  padding: 0;
  font-family: "Avenir Next Cyr", "Arial", sans-serif;
  font-size: @base-font-size;
  line-height: @base-font-size * @ms;
  font-weight: 400;
  color: black;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}
